.Card {
  height: 150px;
  margin: 5px;
  transition: transform .5s; /* Animation */
  border-radius: 5.5%;
}

.Card:hover {
  transform: scale(1.1);
  border: 2px solid rebeccapurple;
}

.top {
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: -2px;
  color: rebeccapurple;
  font-weight: bold;
  text-align: center;
}

.bottom {
  margin-top: -2px;
  margin-bottom: 15px;
  font-size: 0.7em;
  color: rebeccapurple;
  font-weight: bold;
  text-align: center;
}