* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.page {
  flex: 9;
  background-color: lightgoldenrodyellow;
  text-align: center;
  padding: 20px;
}
