* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.page {
  flex: 9;
  background-color: lightgoldenrodyellow;
  text-align: center;
  padding: 20px;
}

.small {
  font-size: 0.7em;
  color: rgb(220, 220, 210);
  /* font-weight: bold; */
  /* text-align: right; */
  /* justify-content: right; */
  border: 1px solid;
  padding: 2px;
}

button {
  margin: 0 2px;
  padding: 0 2px;
}